body
{
    background-color: rgb(0, 162, 255);
    font-family: Lato, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
h1
{
    color: white;
    font-size: 3.5em;
}
#pageTitle
{
    background-color: white;
    color: rgb(0, 162, 255);

    margin: 0px;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
}
.dateInputWrapper
{
    margin-top: 25px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;

    color: white;
    font-size: 1.25em;
    text-align: inherit;
}
.calendar, .clock
{
    border: 1px solid white;
    padding: 5px;
    background-color: transparent;
}
input:focus
{
    outline: none;
}
#dateTimePicker:focus
{
    outline: none;
}